*,
*::after,
*::before {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  border: 0;
  outline: 0;

  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 10px;
}

b {
  font-weight: bold;
}

/*Container*/

.container {
  max-width: 1200px;
  width: 100%;

  margin: 0 auto;
  padding: 0 15px;
}

/*Header*/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 0;
}

.header-text {
  max-width: 290px;

  line-height: 1.2;
  font-size: 1.4rem;
  color: #0089cd;
}

.header-worktime {
  position: relative;

  padding: 0 0 0 40px;

  text-align: center;
  font-size: 1.4rem;
  color: #333333;
}

.header-worktime b {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 1.8rem;
}

.header-worktime img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.header-call-measurer-btn {
  position: relative;

  padding: 1rem 1rem 1rem 5rem;

  border: 2px solid #55a831;
  border-radius: 1rem;

  background-color: #fff;
  color:  #55a831;
  text-align: left;
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 1.2;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  cursor: pointer;
}

.header-call-measurer-btn img {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translate(0, -50%);
}

.header-contact-number {
  position: relative;

  padding: 0 0 0 30px;

  line-height: 1.7;
}

.header-contact-number img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.header-number {
  color: #000;
  font-size: 2.3rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  font-weight: bold;
}

.header-order-call {
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #0089cd;
  text-decoration: underline;
}

/*Call measurer section*/

.call-measurer {
  background: url(../img/main/bg.png);
  background-size: cover;

  padding: 120px 0 115px 0;
}

.call-measurer .container {
  display: flex;
  justify-content: space-between;
}

.call-measurer-box:first-child {
  width: 48%;
}

/*Call-measurer-section header*/

.call-measurer-header {
  font-size: 2.6rem;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #333333;
}

.call-measurer-header b {
  font-size: 5.5rem;
}

/*Call-measurer-section icons*/

.call-measurer-icons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  margin: 150px 0 0 0;
}

.call-measurer-icon {
  position: relative;
}

.call-measurer-icon-text {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);

  font-size: 1.3rem;
  line-height: 1.3;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

/*Call-measurer-section form*/

.call-measurer-form {
  width: 360px;

  border-radius: 1rem;

  padding: 40px 40px 20px 40px;

  background-color: #fff;
  text-align: center;
}

.call-measurer-form-header {
  margin: 0 0 40px 0;

  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  font-style: normal;
  color: #333333;
  line-height: 1.5;
}

.call-measurer-form-header b {
  font-size: 2.4rem;
  text-transform: uppercase;
}

.call-measurer-form-input {
  display: block;
  width: 100%;
  height: 5.8rem;

  border: 1px solid #ccc;
  border-radius: 1rem;

  padding: 0;
  margin-bottom: 2rem;

  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  text-align: center;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);

  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.call-measurer-form-input:focus {
  border-color: rgb(112, 178, 230);
}

.call-measurer-form-input:focus::placeholder {
  color: transparent;
}

.call-measurer-form-submit {
  display: block;
  width: 100%;
  
  padding: 2.5rem 0rem;

  border: 1px solid #ffc600;
  border-radius: 1rem;

  background: linear-gradient(180deg, #ffed26 0%, #ffb400 100%);
  font-size: 1.7rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  cursor: pointer;
}

.call-measurer-form-private {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.1rem;
  color: #666;
}