*,
*::after,
*::before {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  border: 0;
  outline: 0;

  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 10px;
}

b {
  font-weight: bold;
}

/*Container*/

.container {
  max-width: 1200px;
  width: 100%;

  margin: 0 auto;
  padding: 0 15px;
}

/*Section*/

.section-header {
  margin: 100px 0 70px 0;
}

.section-title {
  font-size: 3rem;
  line-height: 1.4;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #333333;
  text-transform: uppercase;
}

.section-title-sup {
  margin-top: 2rem;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 17rem;
  height: 0.2rem;
  background: url(../img/glazing/line.png) 0 0 no-repeat;
}

/*Header*/

.header-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  padding: 20px 0;
}

.header-logo {
  margin-right: 10px;
}

.header-text {
  max-width: 290px;

  margin-right: 10px;

  line-height: 1.2;
  font-size: 1.4rem;
  color: #0089cd;
}

.header-worktime {
  position: relative;

  margin-right: 10px;
  padding: 0 0 0 40px;

  text-align: center;
  font-size: 1.4rem;
  color: #333333;
}

.header-worktime b {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 1.8rem;
}

.header-worktime img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.header-call-measurer-btn {
  position: relative;

  padding: 1rem 1rem 1rem 5rem;

  border: 2px solid #55a831;
  border-radius: 1rem;

  margin-right: 10px;

  background-color: #fff;
  color:  #55a831;
  text-align: left;
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 1.2;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  cursor: pointer;
}

.header-call-measurer-btn img {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translate(0, -50%);
}

.header-contact-number {
  position: relative;

  padding: 0 0 0 30px;

  margin-right: 10px;

  line-height: 1.7;
}

.header-contact-number img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.header-number {
  margin-right: 10px;

  color: #000;
  font-size: 2.3rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  font-weight: bold;
}

.header-order-call {
  margin-right: 10px;

  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #0089cd;
  text-decoration: underline;
}

/*Call measurer section*/

.call-measurer {
  background: url(../img/main/bg.png);
  background-size: cover;

  padding: 120px 0 115px 0;
}

.call-measurer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.call-measurer-box:first-child {
  width: 50%;
}

/*Call-measurer-section header*/

.call-measurer-header {
  font-size: 2.6rem;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #333333;
}

.call-measurer-header b {
  font-size: 5.5rem;
}

/*Call-measurer-section icons*/

.call-measurer-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;

  margin: 150px 0 0 0;
}

.call-measurer-icon {
  position: relative;
}

.call-measurer-icon-text {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);

  font-size: 1.3rem;
  line-height: 1.3;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

/*Call-measurer-section form*/

.call-measurer-form {
  width: 100%;
  max-width: 360px;

  border-radius: 1rem;

  padding: 40px 40px 20px;

  background-color: #fff;
  text-align: center;
}

.call-measurer-form-header {
  margin: 0 0 40px 0;

  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  font-style: normal;
  color: #333333;
  line-height: 1.5;
}

.call-measurer-form-header b {
  font-size: 2.4rem;
  text-transform: uppercase;
}

.call-measurer-form-input {
  display: block;
  width: 100%;
  height: 5.8rem;

  border: 1px solid #ccc;
  border-radius: 1rem;

  padding: 0;
  margin-bottom: 2rem;

  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  text-align: center;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);

  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.call-measurer-form-input:focus {
  border-color: rgb(112, 178, 230);
}

.call-measurer-form-input:focus::placeholder {
  color: transparent;
}

.call-measurer-form-submit {
  display: block;
  width: 100%;
  
  padding: 2.5rem 0rem;

  border: 1px solid #ffc600;
  border-radius: 1rem;

  background: linear-gradient(180deg, #ffed26 0%, #ffb400 100%);
  font-size: 1.7rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  cursor: pointer;
}

.call-measurer-form-private {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.1rem;
  color: #666;
}

/*Glazing-slider*/

.glazing-slider {
  position: relative;

  text-align: center;
}

.glazing-item a {
  display: inline-block;
  
  cursor: pointer;
}

.glazing-item:hover a, .glazing-item:focus a {
  color: #23527c;
}

.glazing-item-title {
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: underline;
  color: #337ab7;
  background-color: transparent;
}

.glazing-item img {
  display: inline-block;
}

/*Glazing-tabs*/

.glazing-tabs {
  margin: 40px 0 0 0;
}

.glazing-tabs-row {
  display: none;
}

.glazing-tabs-row.visible {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.glazing-tabs-col {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: 50%;
}

.glazing-cold {
  width: 100%;

  padding: 2.5rem 60px;

  background: linear-gradient(180deg, #c7dce9 0%, #c7dce9 0%, rgba(255, 255, 255, 0) 100%);
  text-align: center;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-top: 0.5rem solid #0089cd;
}

.glazing-warm {
  width: 100%;

  padding: 2.5rem 60px;

  background: linear-gradient(180deg, #f7eac9 0%, #f7eac9 0%, rgba(255, 255, 255, 0) 100%);
  text-align: center;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-top: 0.5rem solid #ffb903;
}

.glazing-tabs-title {
  margin-bottom: 2.5rem;
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.glazing-cold .glazing-tabs-title {
  color: #0089cd;
}

.glazing-warm .glazing-tabs-title {
  color: #ffb903;
}

.glazing-tabs-img {
  width: 100%;
}

.glazing-tabs-settings {
  margin: 40px 0 0 0;

  font-size: 1.4rem;
  font-weight: 400;
  list-style: none;
  line-height: 2.1;
  text-align: left;
}

.glazing-tabs-settings-item {
  display: flex;
  align-items: center;
  list-style: none;
}

.glazing-tabs-settings-item img {
  margin: 0 15px 0 0;
}

.glazing-tabs-calc-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  padding: 0 60px;
}

.glazing-tabs-calc-text {
  display: inline-block;

  vertical-align: middle;
  line-height: 1.7;
  font-size: 1.4rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.glazing-tabs-calc-text b {
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.glazing-tabs-calc-btn {
  border: 1px solid #ffc600;
  border-radius: 1rem;
  
  padding: 2rem 2rem;

  background: linear-gradient(180deg, #ffed26 0%, #ffb400 100%);
  text-transform: uppercase;
  font-size: 1.7rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  cursor: pointer;
}

/*Order-finishing section*/
.order-finishing {
  margin: 50px 0 0 0;
  padding: 1px 0 8rem;

  background-color: #f7f7f7;
}

.order-finishing-slider {
  border-top: 1rem solid #0089cd;
  
  padding: 2rem 0;

  background-color: #ebebeb;
  text-align: center;
}

.order-finishing-slider-item a {
  display: inline-block;

  border-bottom: 1px dotted #000000;

  font-size: 2rem;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.order-finishing-slider-item a:focus {
  border: none;

  text-decoration: none;
  color: #0089cd;
}

/*Order-finishing-tabs*/

.order-finishing-tabs {
  margin: 100px 0 0 0;
}

.order-finishing-tabs-row {
  display: none;
}

.order-finishing-tabs-row.visible {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.materials {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 450px;
}

.materials-item {
  width: 33.333%;

  text-align: center;
}

.materials-item-title {
  margin: 20px 0 0 10px;

  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4;
  min-height: 4rem;
}

.materials-item-price {
  font-size: 1.4rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #0089cd;
}

.materials-item-withmaterial {
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
}

/*Our works section*/

.our-works .section-header {
  margin-bottom: 40px;
}

.our-works-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.our-works-item {
  width: 23.5%;

  margin: 30px 0 0 0;

  cursor: pointer;
}

.our-works-img {
  width: 100%;
}

/*Guaranties section*/

.guarantees {
  margin: 60px 0 0 0;
  padding: 6rem 0 1rem;

  background-color: #0089cd;
}

.guarantees .section-header {
  margin-top: 0;
}

.guarantees .section-title {
  color: #ffffff;
}

.guarantees .section-title-sup {
  margin-top: 2rem;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 17rem;
  height: 0.2rem;
  background: url(../img/guarantees/header_sub.png) 0 0 no-repeat;
}

.guarantees-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.guarantees-col {
  width: 31%;

  padding: 0 0 70px 0;
}

.guarantees-item {
  text-align: center;
}

.guarantees-item:hover {
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
}

.guarantees-item-text {
  margin: 30px 0 0 0;

  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.4;
  color: #ffffff;
}

/*Payment section*/

.payment-title {
  margin: 85px 0;

  text-align: center;
  font-size: 3rem;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #333333;
}

.payment-methods {
  display: flex;
  justify-content: space-between;
}

.payment-methods-item {
  display: flex;
  align-items: center;
}

.payment-methods-item-text {
  display: inline-block;

  margin: 0 0 0 20px;

  font-size: 2rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
}

/*Sale section*/

.sale {
  margin: 70px 0 0 0;
  padding: 90px 0 70px 0;

  background: url(../img/sale/bg.jpg);
  background-size: cover;
}

.sale-wrapper {
  display: flex;
  justify-content: space-between;
}

.sale-box-title {
  font-size: 4.8rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #0089cd;
}

.sale-box-subtitle {
  margin: 8rem 0 8rem 0;
  font-size: 2.4rem;
  line-height: 1.6;
}

/*Timer*/

.timer {
  width: 360px;
  height: 150px;

  border: 1px solid grey;
  border-radius: 10px;

  padding: 10px;

  font-size: 18px;
  background-color: white;
  color: black;
  text-align: center;
}

.timer-wrapper {
  display: flex;
  justify-content: center;

  margin: 5px 0 0 0;
}

.timer-item {
  margin-right: 6px;
}

.timer-item-count {
  display: inline-block;

  border-radius: 7px;

  padding: 4px;

  background-color: #575757;
  color: white;
  font-size: 40px;
}

/*Find section*/

.find-wrapper {
  display: flex;
  justify-content: space-between;
}

.find-map {
  width: 555px;
  height: 450px;
}

.find-contacts {
  width: 455px;
}

.find-contacts-item-title {
  margin-bottom: 1.5rem;

  font-size: 1.5rem;
  font-weight: 700;
  color: #0089cd;
}

.find-contacts-item-content {
  margin-bottom: 2.8rem;

  font-size: 1.8rem;
  font-weight: 700;
}

.find-contacts-item-content a {
  color: #000;
  font-weight: bold;
  text-decoration: underline;
}

/*Questions section*/

.questions {
  display: flex;
  justify-content: center;

  padding: 6rem 0;

  background-color: #0089cd;
}

.questions p {
  display: inline-block;
  margin-right: 4rem;

  font-size: 3rem;
  color: #ffffff;
}

.questions a {
  font-size: 3rem;
  font-weight: 600;
  color: #ffffff;
  text-decoration: underline;
}

/*Footer*/

.footer {
  padding: 40px 0;
}

.footer-inner {
  position: relative;

  text-align: center;
}

.footer-contacts {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);

  text-align: right;
}

.footer-contacts-number {
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #333333;
}

.footer-contacts-email {
  font-size: 1.4rem;
  color: #0089cd;
  text-decoration: underline;
}

/*Media*/

@media (max-width: 1200px) {
  /*Container*/

  .container {
    max-width: 970px;
  }

  /*Header*/
  .header-content {
    justify-content: space-around;
  }

  /*Call-measurer section*/
  .call-measurer-header b {
    font-size: 4.5rem;
  }

  /*Glazing-section*/

  .glazing-cold,
  .glazing-warm {
    padding: 2.5rem 20px;
  }

  .glazing-tabs-calc-wrapper {
    padding: 0 20px 0 0;
  }

  /*Order-finishing section*/
  .order-finishing .call-measurer-form {
    max-width: 500px;

    margin-top: 30px;
  }

  .order-finishing-tabs {
    margin-top: 60px;
  }

  .materials {
    max-width: 600px;
  }
}

@media (max-width: 992px) {
  /*Call-measurer section*/
  .call-measurer {
    padding: 90px 0;
  }

  .call-measurer .container {
    justify-content: center;
  }

  .call-measurer-box,
  .call-measurer-box:first-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .call-measurer-header {
    width: 100%;

    text-align: center;
  }

  .call-measurer-icons {
    width: 600px;

    margin-top: 100px;
  }

  .call-measurer .call-measurer-form {
    max-width: 500px;

    margin-top: 40px;
  }

  /*Glazing section*/
  .glazing-tabs-col {
    width: 100%;
    max-width: 755px;
  }

  .glazing-tabs-col:nth-child(2) {
    margin: 40px 0 0 0;
  }

  .glazing-cold,
  .glazing-warm {
    padding: 2.5rem 60px;
  }

  .glazing-tabs-calc-wrapper {
    justify-content: center;

    padding: 0 60px;
  }

  .glazing-tabs-calc-wrapper div {
    width: 100%;

    text-align: center;
  }

  .glazing-tabs-calc-btn {
    margin-top: 10px;
  }

  /*Order-finishing section*/
  .materials {
    max-width: 800px;
  }

  .materials-item {
    margin-top: 30px;
  }

  /*Our works*/
  .our-works-item {
    width: 32%;
  }
}

@media (max-width: 768px) {
  /*Container*/
  .container {
    max-width: 750px;
  }

  /*Header*/
  .header-worktime {
    margin-top: 10px;
  }

  .header-call-measurer-btn {
    margin-top: 10px;
  }

  .header-order-call {
    margin-top: 10px;
  }

  /*Glazing section*/
  .glazing .container:nth-child(3) {
    padding: 0;
  }

  /*Our works*/
  .our-works-item {
    width: 48.5%;

    margin-top: 15px;
  }

  /*Guarantees*/
  .guarantees-col {
    width: 46%;
  }
}

@media (max-width: 568px) {
  /*Call-measurer section*/
  .call-measurer {
    padding: 70px 0;
  }

  .call-measurer-icons {
    width: 100%;

    margin-top: 70px;
  }

  .call-measurer-icons-box {
    width: 50%;

    text-align: center;
  }

  /*Order-finishing section*/
  .order-finishing-tabs {
    margin-top: 0;
  }
}

@media (max-width: 480px) {
  /*Section*/
  .section-header {
    margin: 70px 0 50px 0;
  }

  .section-title {
    font-size: 2.5rem;
  }

  /*Header*/
  .header-text {
    margin-top: 10px;

    text-align: center;
  }

  /*Call-measurer section*/

  .call-measurer {
    padding: 60px 0;
  }

  .call-measurer-header b {
    font-size: 3.5rem;
  }

  .call-measurer-form {
    padding: 40px 20px 20px;
  }

  .call-measurer-form-header {
    margin-bottom: 20px;

    font-size: 1.8rem;
  }

  .call-measurer-form-header b {
    font-size: 2.2rem;
  }

  .call-measurer-icons {
    margin-top: 50px;
  }

  /*Glazing section*/
  .glazing-cold,
  .glazing-warm {
    padding: 2.5rem 20px;
  }

  /*Order-finishing section*/
  .order-finishing {
    padding-bottom: 6rem;
  }

  .materials-item {
    width: 50%;
  }

  /*Our works*/
  .our-works-item {
    width: 100%;
  }

  /*Guarantees*/
  .guarantees-col {
    width: 100%;

    padding-bottom: 45px;
  }
}

@media (max-width: 320px) {
  /*Section*/
  .section-title {
    font-size: 2.2rem;
  }
}